#header-wrapper{
	background: url("images/bg-header.png") repeat-x top right;
	height: 155px;
	overflow: hidden;
}
#main-wrap{
	
	background-color:#d9d9d9;
	/*min-height: 400px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	height: 30px;

}
#sidebar-first{
-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	text-align:center;
	padding-top: 50px;
  margin: 10px 10px;
}
#sidebar-first .block{
-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #eaeaea;
}
#sidebar-first .block h2{
-moz-border-radius:  5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
background-color:#a2a2a2;
color:#000;
border-bottom:1px dotted #000;
}
.topmain{
height: 50px;
background-color: #fff;
	  margin-left: 24px;
    margin-right: 21px;
-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 1px solid #d7d7d7;
	
}
.topmain .breadcrumb{
padding: 20px 20px;
}
#main{
	margin: 10px;
}
  body.one-sidebar #main-columns {
    max-width: 1200px;
    min-width: 800px;
    min-height: 400px;
    width: 90%;
}
body.one-sidebar #header{
 min-width:1200px;
/* width:100%;*/
}
#topsearch{
padding:0px;
margin:-115px 240px;
height: 50px;
width: 405px;
float:right;
}
body.no-sidebars #header{
max-width: 1217px;
    min-width: 550px;
    width: 100%;
}
body.no-sidebars #navigation{
    max-width: 1000px;
    min-width: 550px;
    width: 76%;
    
}
 body.no-sidebars #main-columns {
 max-width: 1200px;
    min-width: 550px;
    width: 100%;
 }
 

#topsearch .form-submit {
	position:relative;
	right:0;
	top:0px;
	 margin: 0px 2px 0 0;
  padding: 5.5px 22px;
  background:#000;
   -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -khtml-border-radius:3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;	
  color:#fff;
}
#topsearch #edit-actions, #topsearch #edit-actions--2{
    height: 56px;
    margin: -38px 313px;
    padding-right: 0;
    width: 100px;
}

}
#topSearch input[type="text"] {
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    border: 1px solid #FFFFFF;
    font-style: italic;
	margin:0 -31px 0 0;
    padding: 4px 10px;
    position: relative;
    width: 160px;
    height: 23px;
    background-color: #191816;
}

#topSearch label { color:#ffffff; font-weight:normal;}

#topSearch input[type="submit"] {
  /*  background: url("images/ico_search.png") no-repeat scroll 98% 50%;*/
    margin:0 12px 0 0;
    padding: 0 2px 0 0;
    position: relative;
    width: 25px;
    height: 40px;
	border:none;
	text-indent: -9999px;
	cursor:pointer;
}

/* Secondary menu */
#secondary-menu {
  display: table-cell;
  text-align: right;
  font-size: 0.9em;
  height: 40px;
  background: url("images/top-bg.jpg") repeat-x top left;
  color: #fff;
  width: 1354px;
  padding-top: 10px;
}
#secondary-menu h2 {
  height: 0;
  overflow: hidden;
  position: absolute;
}
#secondary-menu ul {
  margin-right: 150px;
}
#secondary-menu ul li {
  display: inline;
  padding: 0 0 0 13px;
  margin: 0;
  background: none;
  color:#fff;
}
#secondary-menu ul li:first-child {
  padding: 0;
}

#footer{
height: auto;
background: url("images/footer-bg.jpg") repeat-x top left;
width:100%;
position: relative;
clear:both;
}

#content-slideshow{
margin: 10px 20px 10px 10px;
width: 480px;
border:1px solid #c9c9c6;
border-left:none;
border-bottom:none;
overflow:hidden;


}
.shortcut-wrapper .content-slideshow {
    margin-left: 100px;
    position: relative;
}
#content-info{
min-height: 100px;
padding: 10px 10px 0 10px;
margin: 10px 10px;
}

#topsearch .form-text{
 max-width: 311px;
    width: 100%;
}
#footer .block{
text-align:center;
color:#fff;
padding-top: 10px;
}
#user-login-form{
margin: 0 10px 10px;
padding-bottom:10px;
}
#site-name a {
    font-size: 35px;
}
